VITE_SUPABASE_URL=https://zxzeiwzgovlsnvnxyqft.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4emVpd3pnb3Zsc252bnh5cWZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNzI5NzEsImV4cCI6MjA5NTc0ODk3MX0.aBGKoZxS8Rt6o4UoT-YTod463l_WKru6tLeKe5INd4w
VITE_PORTFOLIO_ROW_ID=genuine-kiwi
VITE_SUPABASE_STORAGE_BUCKET=portfolio-images

VITE_DISCORD_CLIENT_ID=1522861548023058643
VITE_DISCORD_ADMIN_IDS=816509777911742486,972599697229365278
VITE_DISCORD_AUTH_SCOPES=identify
VITE_DISCORD_RESPONSE_TYPE=token
VITE_DISCORD_API_BASE=https://discord.com/api
VITE_DISCORD_REDIRECT_URI=https://genuine-kiwi.vercel.app

VITE_PUBLIC_DISCORD_PROFILE_URL=https://discord.com/users/816509777911742486
VITE_PUBLIC_ROBLOX_PROFILE_URL=https://www.roblox.com/users/1939978392/profile
